services:
  litellm:
    image: ghcr.io/berriai/litellm-database:main-latest
    container_name: litellm
    env_file:
      - .env
    ports:
      - 4000:4000
    volumes:
      - ./config.yml:/app/config.yaml
    command: --config /app/config.yaml
    restart: always
    labels:
      - traefik.enable=true
      - traefik.http.routers.litellm.rule=Host(`litellm.infra.tushgaurav.com`)
      - traefik.http.routers.litellm.entrypoints=websecure
      - traefik.http.routers.litellm.tls=true
      - traefik.http.routers.litellm.tls.certresolver=websecure
    networks:
      - frontend
    environment:
      DATABASE_URL: "postgresql://llmproxy:dbpassword9090@db:5432/litellm"
      STORE_MODEL_IN_DB: "True"

  db:
    image: postgres:17
    container_name: chat_db
    restart: always
    environment:
      POSTGRES_DB: litellm
      POSTGRES_USER: llmproxy
      POSTGRES_PASSWORD: dbpassword9090
    volumes:
      - owu_db:/var/lib/postgresql/data
    networks:
      - frontend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d litellm -U llmproxy"]
      interval: 1s
      timeout: 5s
      retries: 10

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    ports:
      - 3069:8080
    labels:
      - traefik.enable=true
      - traefik.http.routers.webui.rule=Host(`chat.infra.tushgaurav.com`)
      - traefik.http.routers.webui.entrypoints=websecure
      - traefik.http.routers.webui.tls=true
      - traefik.http.routers.webui.tls.certresolver=websecure
    networks:
      - frontend
    environment:
      - "OLLAMA_BASE_URL=http://ollama:11434"
      - "WEBUI_SECRET_KEY="
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

volumes:
  owu_db:
  open-webui: {}

networks:
  frontend:
    external: true